:root {
  --color: #198754;
}

body {
  font-family: 'montserrat', sans-serif;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1518882174711-1de40238921b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80');
  height: 65vh;
  background-position: center;
  background-size: cover;
}

.floating-card {
  transform: translateY(4rem);
}

.doc-icon {
  font-size: 2rem;
  color: var(--color);
}

.cube-icon {
  font-size: 3rem;
  color: var(--color);
}

.text-over-img {
  padding-top: 5rem;
}

.text-bar-left {
  border-left: 5px solid var(--color);
}

.contact-form {
  border-radius: 1rem;
}


@media screen and (max-width: 780px) {

  .text-over-img {
    display: none;
    padding-top: unset;
  }

  .floating-card {
    transform: unset;
  }

  .hero {
    background-image: url('https://images.unsplash.com/photo-1511300636408-a63a89df3482?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    height: 70vh;
    background-position: center;
    background-size: cover;
  }

}